.sub-filters{

    .option-title{
      font-size: 1.1em;
      font-weight: bold;
      margin: 3%;
    }
  
    .select-brush{
      margin: 3%;
      display: flex;
      flex-direction: column;
    }
  
    .select-width{
      margin: 3%;
    }
  
    .color-picker{
      margin: 3%;
  
  
    }
  }