.sub-effect {
  height: 93%; 
  overflow-y: auto;
  .optioni-title {
    color: red;
  }
}
.shadow-box {
  .shadow-checkbox {
    font-size: 17px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3%;

    #shadow_toggle:disabled {
      background-color: #979797;
      border: 1px solid black black;
    }

    input[type="range"] {
      width: 75%;
    }

    div {
      display: flex;
    }

    .mycheckbox {
      --background: #fff;
      --border: #d1d6ee;
      --border-hover: #bbc1e1;
      --border-active: #365afc;
      --tick: #fff;
      position: relative;
      input,
      svg {
        width: 21px;
        height: 21px;
        display: block;
      }
      input {
        -webkit-appearance: none;
        -moz-appearance: none;
        position: relative;
        outline: none;
        background: var(--background);
        border: none;
        margin: 0;
        margin-right: 5px;
        padding: 0;
        cursor: pointer;
        border-radius: 4px;
        transition: box-shadow 0.3s;
        box-shadow: inset 0 0 0 var(--s, 1px) var(--b, var(--border));
        &:hover {
          --s: 2px;
          --b: var(--border-hover);
        }
        &:checked {
          --b: var(--border-active);
        }
      }
      svg {
        pointer-events: none;
        fill: none;
        stroke-width: 2px;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke: var(--stroke, var(--border-active));
        position: absolute;
        top: 0;
        left: 0;
        width: 21px;
        height: 21px;
        transform: scale(var(--scale, 1)) translateZ(0);
      }
      &.path {
        input {
          &:checked {
            --s: 2px;
            transition-delay: 0.4s;
            & + svg {
              --a: 16.1 86.12;
              --o: 102.22;
            }
          }
        }
        svg {
          stroke-dasharray: var(--a, 86.12);
          stroke-dashoffset: var(--o, 86.12);
          transition: stroke-dasharray 0.6s, stroke-dashoffset 0.6s;
        }
      }
    }
  }

  .shadow-offset {
    font-size: 17px;
    margin: 3%;
    display: flex;
    flex-direction: column;

    input[type="range"] {
      width: 75%;
    }
  }
}

.shadow-color {
  margin: 3%;
  font-size: 17px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba($color: #c4c4c4, $alpha: 0.3);
}

.stroke {
  margin: 3%;
  font-size: 17px;
  display: flex;
  flex-direction: column;

  .stroke-input {
    display: flex;
    align-items: center;
    flex-direction: row;

    div {
      margin-left : 30px;
    }
  }

  input[type="range"] {
    width: 75%;
  }
}

.stroke-color {
  margin: 3%;
  font-size: 17px;
  display: flex;
  flex-direction: column;

  .color-picker {
    display: flex;
    justify-content: space-around;

    // #stroke-range {
    //   width: 70%;
    // }
  }
}

.blur-box {
  
  display: flex;
  flex-direction: column;

  .blur-box-title {
    margin-top : 10px;
  }
  .blur-box-input {
    display: flex;
    align-items: center;
    // margin-left: 5%;

    div {
      margin-left: 5%;
    }
  }
}
