.nav-sub-filter {
  width: 25vmin;
  height: 100vh;
  background-color:#EEEEEE;
  color: black;
  position: absolute;
  top: 0;  
  left: 6vmin;

  text-align: center;
  border-bottom: solid 1px darkgrey;
  padding: 1.2em;
  font-size: 1.1em;

  .sub-title {
    text-align: center;
    border-bottom: solid 1px darkgrey;
    padding: 1.2em;
    font-size: 1.1em;
  }

  .sub-filters{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    border-radius: 5px;
  
    div {
      margin: 10px;
      text-align: center;
      width: 18vmin;
      height: 10vmin;
      justify-content: center;
      align-items: flex-end;
      color: white;
    }
  
    .filter[type=checkbox]{
        display: none;
    }
    .filter[type=checkbox] + label{
      display: inline-block;
      background-color: #07849a;
      padding : 8px 19px;
      border : 1px solid black;
      cursor: pointer;
      color : white;
      border-radius : 5px;
      border : 0px;
      margin : 1px;
    }
    
    .filter[type=checkbox]:disabled+ label{
      background-color: #a79e98;
      border : 1px solid #a79e98;
      color : grey;
    }
  
    .filter[type=checkbox]:disabled:checked+ label{
      background-color: #a79e98;
      border : 1px solid #a79e98;
      color : grey;
    }
  
    .filter[type=checkbox]:disabled:hover+ label{
      background-color: #a79e98;
      color : grey;
    }
    
    .filter[type=checkbox]:hover+ label{
      background-color: #034683;
      color : white;
    }
    
    .filter[type=checkbox]:checked + label{
      background-color: #022b4f;
      border : 1px solid #a79e98;
      color : white;
    }
  }
}