.option-title{
  font-size: 1.1em;
  font-weight: bold;
  margin: 3%;
}

.sub-filtersmenu{
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 100%;
}

.filter-box{
  width: 100%;
  padding: 5%;
}

.filter-options{
  display: flex;
  flex-wrap: wrap;

  div{
    margin: 1%;
  }
  
  input[type="checkbox"]{
    display: none;
  }

  input[type="checkbox"] + label{
    width: 10vmin;
    height: 10vmin;
    background-color: #E6E6E6;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
  }
  
  input[type="checkbox"] + label:hover{
      background-color: #D9D9D9;
  }
  
  input[type="checkbox"]:disabled + label:hover{
    background-color: #E6E6E6;
  }

  input[type="checkbox"]:checked + label{
    background-color: #365AFC;
    color: white;
  }
}

.adjust-box{
  padding: 5%;
}

.adjust-options{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  div{
    display: flex;
    flex-direction: column;
  }
}