.option-title{
  font-size: 1.1em;
  font-weight: bold;
  margin: 3%;
}

.sub-filtersmenu{
  display: flex;
  flex-direction: column;
  height: 93vh;
  overflow-x: hidden;
  overflow-y: auto;

  .filter-title-open {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

.filter-box{
  width: 100%;
  padding: 1% 5% 1% 5%;
}

.filter-options{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  transition: background-color 0.5s;
  padding-right: 10%;

  div{
    margin: 1%;
  }




  #label-filter-grey{
    background-image: url(../img/filter/grey.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
  }

  .filter-name {
    // display: none;
    // height : 20px;
    display: block;
    text-align: center;
    transition: color 0.1s linear;
    color : #eeeeee;
  }

  .label-filter-icon:hover + .filter-name{
    display: block;
    text-align: center;
    color : black;
    // height: auto;
  }

  #label-filter-invert{
    background-image: url(../img/filter/invert.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
  }

  #label-filter-brownie{
    background-image: url(../img/filter/brownie.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
  }

  #label-filter-technicolor{
    background-image: url(../img/filter/technicolor.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
  }

  #label-filter-polaroid{
    background-image: url(../img/filter/polaroid.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
  }

  #label-filter-blackwhite{
    background-image: url(../img/filter/blackwhite.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
  }

  #label-filter-vintage{
    background-image: url(../img/filter/vintage.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
  }

  #label-filter-sepia{
    background-image: url(../img/filter/sepia.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
  }

  #label-filter-kodachrome{
    background-image: url(../img/filter/kodachrome.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
  }

  #label-filter-emboss{
    background-image: url(../img/filter/emboss.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
  }
  
  input[type="checkbox"]{
    display: none;
  }

  input[type="checkbox"] + label{
    width: 10vmin;
    height: 10vmin;
    background-color: #E6E6E6;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
  }
  
  input[type="checkbox"] + label:hover{
      background-color: #D9D9D9;
  }
  
  input[type="checkbox"]:disabled + label:hover{
    background-color: #E6E6E6;
  }

  input[type="checkbox"]:checked + label{
    background-color: #365AFC;
    color: white;
  }
}

.adjust-box{
  padding: 0% 5% 0% 5%;
}

.adjust-options{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5%;
  width: 100%;

  .range-box{
    width: 100%;
    display: flex;

    input[type=range]{
      width: 80%;
    }

    label{
      margin: 13px;
      width: 20%;
    }
  }
}

.my-node-enter {
  // max-height: 0px;
  opacity: 0;
  -webkit-transition : opacity 0.5s ease;
  overflow: hidden;
}
.my-node-enter-active {
  // height : auto;
  // max-height: 100px;
  opacity : 1;
}

.my-node-exit {
  // max-height: 100px;
  opacity : 1;
  -webkit-transition : opacity 0.5s ease;
}
.my-node-exit-active {
  // max-height: 0px;
  opacity : 0;
  overflow: hidden;
}