.sub-shape{
    .option-title{
        font-size: 1.1em;
        font-weight: bold;
        margin: 3%;
    }

    .shape-list{
        margin: 3%;
        height: 30%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        button{
            width: 85px;
            height: 85px;
            background-color: #E6E6E6;
            border-radius: 5px;
            margin: 1%;
        }

        button:hover{
            background-color: #D9D9D9;
        }
    }

    .circle-degree{
        padding: 5%;
        display: flex;
        align-items: flex-end;

        input[type="number"] {
            margin-right: 5%;
            height: 32px;
            border-radius: 4px;
            border: 1px solid #b8b8b8;
            position: relative;
            text-align: center;
            font-size: 16px;
            width: 100px;
            outline: none;
            background-image: url('data:image/svg+xml;utf8,%3Csvg%20version%3D%221.1%22%20viewBox%3D%220%200%2050%2067%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22none%22%20stroke-width%3D%222%22%3E%3Cline%20x1%3D%221%22%20x2%3D%2250%22%20y1%3D%2233.5%22%20y2%3D%2233.5%22%20stroke%3D%22%23D8D8D8%22%2F%3E%3Cpolyline%20transform%3D%22translate(25%2020)%20rotate(45)%20translate(-25%20-20)%22%20points%3D%2219%2026%2019%2014%2032%2014%22%20stroke%3D%22%23000%22%2F%3E%3Cpolyline%20transform%3D%22translate(25%2045)%20rotate(225)%20translate(-25%20-45)%22%20points%3D%2219%2052%2019%2039%2032%2039%22%20stroke%3D%22%23000%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
            background-position: center right;
            background-size: contain;
            background-repeat: no-repeat;
            caret-color: transparent;
          }
          
          input[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none !important;
            opacity: 1 !important;
            background: transparent !important;
            border-width: 0px;
            margin: 0;
            border-left: 1px solid #b8b8b8;
            height: 34px;
            width: 23px;
            cursor: pointer;
          }
    }

    .circle-degree-disabled{
        padding: 5%;
        opacity: 0.5;
        cursor: default;
        display: flex;
        align-items: flex-end;

        input[type="number"] {
            margin-right: 5%;
            height: 32px;
            border-radius: 4px;
            border: 1px solid #b8b8b8;
            position: relative;
            text-align: center;
            font-size: 16px;
            width: 100px;
            outline: none;
            background-image: url('data:image/svg+xml;utf8,%3Csvg%20version%3D%221.1%22%20viewBox%3D%220%200%2050%2067%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22none%22%20stroke-width%3D%222%22%3E%3Cline%20x1%3D%221%22%20x2%3D%2250%22%20y1%3D%2233.5%22%20y2%3D%2233.5%22%20stroke%3D%22%23D8D8D8%22%2F%3E%3Cpolyline%20transform%3D%22translate(25%2020)%20rotate(45)%20translate(-25%20-20)%22%20points%3D%2219%2026%2019%2014%2032%2014%22%20stroke%3D%22%23000%22%2F%3E%3Cpolyline%20transform%3D%22translate(25%2045)%20rotate(225)%20translate(-25%20-45)%22%20points%3D%2219%2052%2019%2039%2032%2039%22%20stroke%3D%22%23000%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
            background-position: center right;
            background-size: contain;
            background-repeat: no-repeat;
            caret-color: transparent;
          }
          
          input[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none !important;
            opacity: 1 !important;
            background: transparent !important;
            border-width: 0px;
            margin: 0;
            border-left: 1px solid #b8b8b8;
            height: 34px;
            width: 23px;
            cursor: pointer;
          }

          input[type="number"]:disabled{
              cursor: default;
          }
    }

    .line-list{
        display: flex;
        justify-content: center;
        align-items: center;

        button{
            width:85px;
            height:85px;
            background-color: #E6E6E6;
            border-radius: 5px;
            margin: 1%;
        }

        button:hover{
            background-color: #D9D9D9;
        }
    }
    
    .free-making{
        margin: 3%;
        display: flex;
        justify-content: space-around;

        button{
            width:85px;
            height:85px;
            background-color: #E6E6E6;
            border-radius: 5px;
        }

        button:hover{
            background-color: #D9D9D9;
        }
    }

    .color-picker{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
