.sub-shape {
  height: 93%;
  overflow-y: auto;

  .option-title {
    font-size: 17px;
    margin: 3%;
  }

  .shape-list {
    margin: 3%;
    height: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    button {
      width: 85px;
      height: 85px;
      background-color: #688eff;
      border-radius: 5px;
      margin: 1%;
    }

    button:hover {
      background-color: #84a3ff;
    }
  }

  .circle-degree {
    padding: 5%;
    display: flex;
    align-items: flex-end;

    input[type="number"] {
      margin-right: 5%;
      height: 32px;
      border-radius: 4px;
      border: 1px solid #b8b8b8;
      position: relative;
      text-align: center;
      font-size: 16px;
      width: 100px;
      outline: none;
      
      background-image: url("../img/input.png");
      background-position: center right;
      background-size: contain;
      background-repeat: no-repeat;
      cursor: text;
    }

    input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none !important;
      opacity: 1 !important;
      background: transparent !important;
      border-width: 0px;
      margin: 0;
      border-left: 1px solid #b8b8b8;
      height: 34px;
      width: 23px;
      cursor: pointer;
      color : white;
    }
  }

  .circle-degree-disabled {
    padding: 5%;
    opacity: 0.5;
    cursor: default;
    display: flex;
    align-items: flex-end;

    input[type="number"] {
      margin-right: 5%;
      height: 32px;
      border-radius: 4px;
      border: 1px solid #b8b8b8;
      position: relative;
      text-align: center;
      font-size: 16px;
      width: 100px;
      outline: none;
      background-image: url("../img/input.png");
      background-position: center right;
      background-size: contain;
      background-repeat: no-repeat;
      cursor: text;
    }

    input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none !important;
      opacity: 1 !important;
      background: transparent !important;
      border-width: 0px;
      border-left: 1px solid #555555;
      margin: 0;
      height: 34px;
      width: 23px;
    }

    input[type="number"]:disabled {
      cursor: default;
    }
  }

  .line-list {
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      width: 85px;
      height: 85px;
      background-color: #688eff;
      border-radius: 5px;
      margin: 1%;
    }

    button:hover {
      background-color: #84a3ff;
    }
  }

  .free-making {
    margin: 3%;
    display: flex;
    justify-content: space-around;

    button {
      width: 85px;
      height: 85px;
      background-color: #688eff;
      border-radius: 5px;
    }

    button:hover {
      background-color: #84a3ff;
    }
  }
}
