.sub-shape{
    .option-title{
        font-size: 1.1em;
        font-weight: bold;
        margin: 3%;
    }

    .shape-list{
        margin: 3%;
        height: 30%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        button{
            width: 10vmin;
            height: 10vmin;
            background-color: #E6E6E6;
            border-radius: 5px;
            margin: 1%;
        }

        button:hover{
            background-color: #D9D9D9;
        }
    }

    .line-list{
        display: flex;
        justify-content: center;
        align-items: center;

        button{
            width: 10vmin;
            height: 10vmin;
            background-color: #E6E6E6;
            border-radius: 5px;
            margin: 1%;
        }

        button:hover{
            background-color: #D9D9D9;
        }
    }
    
    .free-making{
        margin: 3%;
        height: 10vmin;
        display: flex;
        justify-content: space-around;

        button{
            width: 10vmin;
            height: 10vmin;
            background-color: #E6E6E6;
            border-radius: 5px;
        }

        button:hover{
            background-color: #D9D9D9;
        }
    }

    .color-picker{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
