.option-title{
    font-size: 1.1em;
    font-weight: bold;
    margin: 3%;
}

.sub-textmenu{
    display: flex;
    flex-direction: column;
    height: 93vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.add-text{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;

    button{
        background: #E6E6E6;
        color: rgba(0, 0, 0, 0.9);
        border: 1px solid #d4d4d4;
        border-radius: 4px;
        width: 15vmin;
        font-size: 1.1em;
        font-weight: bold;
    }

    button:hover{
        background-color: #D9D9D9;
    }
}

.text-font{
    width: 150px;
}

.text, .text-font{
    background-color: #EEEEEE;
    border: none;
    border-bottom: 1px solid #D9D9D9;
}

.text:hover, .text-font:hover{
    border-bottom: 1px solid black;
    transition: .5s;
}

.size-align{
    display: flex;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;

    .font-size{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;

        input[type="number"] {
            margin-left: 5%;
            height: 32px;
            border-radius: 4px;
            border: 1px solid #b8b8b8;
            position: relative;
            text-align: center;
            font-size: 16px;
            width: 80px;
            outline: none;
            background-image: url('data:image/svg+xml;utf8,%3Csvg%20version%3D%221.1%22%20viewBox%3D%220%200%2050%2067%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22none%22%20stroke-width%3D%222%22%3E%3Cline%20x1%3D%221%22%20x2%3D%2250%22%20y1%3D%2233.5%22%20y2%3D%2233.5%22%20stroke%3D%22%23D8D8D8%22%2F%3E%3Cpolyline%20transform%3D%22translate(25%2020)%20rotate(45)%20translate(-25%20-20)%22%20points%3D%2219%2026%2019%2014%2032%2014%22%20stroke%3D%22%23000%22%2F%3E%3Cpolyline%20transform%3D%22translate(25%2045)%20rotate(225)%20translate(-25%20-45)%22%20points%3D%2219%2052%2019%2039%2032%2039%22%20stroke%3D%22%23000%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
            background-position: center right;
            background-size: contain;
            background-repeat: no-repeat;
            caret-color: transparent;
          }
          
          input[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none !important;
            opacity: 1 !important;
            background: transparent !important;
            border-width: 0px;
            margin: 0;
            border-left: 1px solid #b8b8b8;
            height: 34px;
            width: 23px;
            cursor: pointer;
          }
    }

    .text-align{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    
        .align-button{
            display: flex;
            justify-content: space-evenly;
        }
        
        #center-align{
            background-image: url(../img/align-center.svg);
            background-repeat: no-repeat;
            width: 4vmin;
            height: 4vmin;
        }
        
        #left-align{
            background-image: url(../img/align-left.svg);
            background-repeat: no-repeat;
            width: 4vmin;
            height: 4vmin;
        }
        
        #left-align svg:hover{
            fill: blue;
        }
        
        #right-align{
            background-image: url(../img/align-right.svg);
            background-repeat: no-repeat;
            width: 4vmin;
            height: 4vmin;
        }
        
        .align{
            border-radius: 5px;
        }
        
        .align:hover{
            background-color: #DFDFDF;
        }
    }
}

.font-weight{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;

    input[type="checkbox"]{
        display: none;
      }
    
      input[type="checkbox"] + label{
        width: 7vmin;
        height: 7vmin;
        background-color: #E6E6E6;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
      }
      
      input[type="checkbox"] + label:hover{
          background-color: #D9D9D9;
      }
      
      input[type="checkbox"]:disabled + label:hover{
        background-color: #E6E6E6;
      }
    
      input[type="checkbox"]:checked + label{
        background-color: #365AFC;
        color: white;
      }
}

.text-bg{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    
    input[type="checkbox"]{
        display: none;
      }
    
      input[type="checkbox"] + label{
        width: 7vmin;
        height: 7vmin;
        background-color: #E6E6E6;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
      }
      
      input[type="checkbox"] + label:hover{
          background-color: #D9D9D9;
      }
      
      input[type="checkbox"]:disabled + label:hover{
        background-color: #E6E6E6;
      }
    
      input[type="checkbox"]:checked + label{
        background-color: #365AFC;
        color: white;
      }
}

.color-picker{
    display: flex;
    justify-content: center;
    align-items: center;
}

.font-style {
    width: fit-content;
    border: 1px solid #b8b8b8;
    font-size: 18px;
    color: #666666;
    padding: 10px 10px 10px 10px;
    margin: auto;
    width: 155px;
    display: flex;
    justify-content: center;
    border-radius: 4px;

    .font-li:hover {
        background-color: #c1c1c1;
    }
}

.font-style:hover {
    background-color: #c1c1c1;
    cursor: pointer;
}

.font-ul {
    list-style-type: none;
    overflow-x: hidden;
    overflow-y: scroll;
    font-size: 18px;
    color: #666666;
    position: absolute;
    background: #FFFFFF;
    z-index: 3;
    margin-top:11px;
    height:400px;
}

.font-ul li {
    padding: 10px 0 10px 18px;
    width: 135px;
}