.option-title{
    font-size: 17px;
    margin: 3%;
}

.sub-textmenu{
    display: flex;
    flex-direction: column;
    height: 93vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.add-text{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;

    button{
        background-color: #E6E6E6;
        border: 1px solid #D4D4D4;
        border-radius: 5px;
        width: 160px;
        height: 30px;
        font-weight: bold;
    }

    button:hover{
        background-color: #D9D9D9;
    }
}

.text-font{
    width: 150px;
}

.text, .text-font{
    background-color: #EEEEEE;
    border: none;
    border-bottom: 1px solid #D9D9D9;
}

.text:hover, .text-font:hover{
    border-bottom: 1px solid black;
    transition: .5s;
}

.size-align{
    display: flex;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;

    .font-size{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;

        input[type="number"] {
            margin-left: 5%;
            height: 32px;
            border-radius: 4px;
            border: 1px solid #b8b8b8;
            position: relative;
            text-align: center;
            font-size: 16px;
            width: 80px;
            outline: none;
            background-image: url('data:image/svg+xml;utf8,%3Csvg%20version%3D%221.1%22%20viewBox%3D%220%200%2050%2067%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22none%22%20stroke-width%3D%222%22%3E%3Cline%20x1%3D%221%22%20x2%3D%2250%22%20y1%3D%2233.5%22%20y2%3D%2233.5%22%20stroke%3D%22%23D8D8D8%22%2F%3E%3Cpolyline%20transform%3D%22translate(25%2020)%20rotate(45)%20translate(-25%20-20)%22%20points%3D%2219%2026%2019%2014%2032%2014%22%20stroke%3D%22%23000%22%2F%3E%3Cpolyline%20transform%3D%22translate(25%2045)%20rotate(225)%20translate(-25%20-45)%22%20points%3D%2219%2052%2019%2039%2032%2039%22%20stroke%3D%22%23000%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
            background-position: center right;
            background-size: contain;
            background-repeat: no-repeat;
          }
          
          input[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none !important;
            opacity: 1 !important;
            background: transparent !important;
            border-width: 0px;
            margin: 0;
            border-left: 1px solid #b8b8b8;
            height: 34px;
            width: 23px;
            cursor: pointer;
          }

          input[type="number"]:disabled{
              cursor: default;
          }
    }

    .text-align{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        label{
            margin-bottom: 0;
        }
    
        .align-button{
            display: flex;
            justify-content: space-evenly;
            
            label{
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 5px;

                button{
                    display: none;
                }

                button:active + svg{
                    fill: #365AFC;
                }

                svg{
                    width: 50%;
                    height: 50%;
                }
            }

            label:hover{
                background-color: #D9D9D9;

            }
        }

        .align-button-disabled{
            display: flex;
            justify-content: space-evenly;
            
            label{
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 5px;
        
                button{
                    display: none;
                }
        
                svg{
                    width: 50%;
                    height: 50%;
                }
            }
        }
    }
}

.font-weight{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;

    .bold{
        width: 50px;
        height: 50px;
        background-color: #E6E6E6;
        border-radius: 5px;

        label{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
        }

        input[type="checkbox"]{
            display: none;
        }

        svg{
            width: 50%;
            height: 50%;
        }
    }

    .bold:hover{
        background-color: #D9D9D9;

        svg{
            fill: #365AFC;
        }
    }

    .bold-disabled{
        width: 50px;
        height: 50px;
        background-color: #E6E6E6;
        border-radius: 5px;

        label{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
        }

        input[type="checkbox"]{
            display: none;
        }

        svg{
            width: 50%;
            height: 50%;
        }
    }

    .italic{
        width: 50px;
        height: 50px;
        background-color: #E6E6E6;
        border-radius: 5px;

        label{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
        }

        input[type="checkbox"]{
            display: none;
        }

        svg{
            width: 50%;
            height: 50%;
        }
    }

    .italic:hover{
        background-color: #D9D9D9;
    }

    .italic:hover svg{
        fill: #365AFC;
    }

    .italic-disabled{
        width: 50px;
        height: 50px;
        background-color: #E6E6E6;
        border-radius: 5px;

        label{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
        }

        input[type="checkbox"]{
            display: none;
        }

        svg{
            width: 50%;
            height: 50%;
        }
    }
    .underline{
        width: 50px;
        height: 50px;
        background-color: #E6E6E6;
        border-radius: 5px;

        label{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
        }

        input[type="checkbox"]{
            display: none;
        }

        svg{
            width: 50%;
            height: 50%;
        }
    }

    .underline:hover{
        background-color: #D9D9D9;
    }

    .underline:hover svg{
        fill: #365AFC;
    }

    .underline-disabled{
        width: 50px;
        height: 50px;
        background-color: #E6E6E6;
        border-radius: 5px;

        label{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
        }

        input[type="checkbox"]{
            display: none;
        }

        svg{
            width: 50%;
            height: 50%;
        }
    }
}

.text-bg{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    
    input[type="checkbox"]{
        display: none;
      }
    
      input[type="checkbox"] + label{
        width: 7vmin;
        height: 7vmin;
        background-color: #E6E6E6;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
      }
      
      input[type="checkbox"] + label:hover{
          background-color: #D9D9D9;
      }
      
      input[type="checkbox"]:disabled + label:hover{
        background-color: #E6E6E6;
      }
    
      input[type="checkbox"]:checked + label{
        background-color: #365AFC;
        color: white;
      }
}

.color-picker{
    display: flex;
    justify-content: center;
    align-items: center;
}

.font-style {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .fontfamily-button{
        background-color: #E6E6E6;
        border: 1px solid #D4D4D4;
        border-radius: 5px;
        width: 160px;
        height: 30px;
    }

    .fontfamily-button:hover{
        background-color: #D9D9D9;
    }
    
    .font-li:hover {
        background-color: #c1c1c1;
    }
}


.font-style-disabled {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .fontfamily-button{
        background-color: #E6E6E6;
        border: 1px solid #D4D4D4;
        border-radius: 5px;
        width: 160px;
        height: 30px;
    }

    .fontfamily-button:hover{
        background-color: #D9D9D9;
    }
    
    .font-li:hover {
        background-color: #c1c1c1;
    }
}

.font-ul {
    list-style-type: none;
    overflow-x: hidden;
    overflow-y: scroll;
    font-size: 18px;
    color: #666666;
    position: absolute;
    background: #D4D4D4;
    z-index: 3;
    margin-top: 440px;
    width: 160px;
    height: 400px;
}

.font-ul li {
    padding: 10px 0 10px 18px;
    width: 135px;
}