.option-title{
    font-size: 1.1em;
    font-weight: bold;
    margin: 3%;
}

.sub-textmenu{
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: scroll;
}

.add-text{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;

    button{
        background: #E6E6E6;
        color: rgba(0, 0, 0, 0.9);
        border: 1px solid #d4d4d4;
        border-radius: 4px;
        width: 15vmin;
        font-size: 1.1em;
        font-weight: bold;
    }

    button:hover{
        background-color: #D9D9D9;
    }
}

.font-style{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 5%;
}

.text-font{
    width: 150px;
}

.text, .text-font{
    background-color: #EEEEEE;
    border: none;
    border-bottom: 1px solid #D9D9D9;
}

.text:hover, .text-font:hover{
    border-bottom: 1px solid black;
    transition: .5s;
}

.size-align{
    display: flex;
    width: 100%;
    padding: 5%;
    justify-content: space-between;
}

.font-size{
    margin: 5%;
    display: flex;
    justify-content: center;

    .u-d{
        display: flex;
        flex-direction: column;

        button{
            height: 2vmin;
        }
    }
}

.font-size input{
    background-color: #EEEEEE;
    border-bottom: 1px solid #D9D9D9;
    width: 7vmin;
    height: 4vmin;
}

.font-size input:hover{
    border-bottom: 1px solid black;
    transition: .5s;
}

.font-size input:focus{
    border-bottom: 1px solid black !important;
}

.text-align{
    margin: 5%;
}

.align-button{
    display: flex;
    justify-content: space-evenly;
}

#center-align{
    background-image: url(../img/align-center.svg);
    background-repeat: no-repeat;
    width: 4vmin;
    height: 4vmin;
}

#left-align{
    background-image: url(../img/align-left.svg);
    background-repeat: no-repeat;
    width: 4vmin;
    height: 4vmin;
}

#right-align{
    background-image: url(../img/align-right.svg);
    background-repeat: no-repeat;
    width: 4vmin;
    height: 4vmin;
}

.align{
    border-radius: 5px;
}

.align:hover{
    background-color: #DFDFDF;
}

.font-weight{
    display: flex;
    justify-content: space-around;
    width: 100%;

    input[type="checkbox"]{
        display: none;
      }
    
      input[type="checkbox"] + label{
        width: 7vmin;
        height: 7vmin;
        background-color: #E6E6E6;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
      }
      
      input[type="checkbox"] + label:hover{
          background-color: #D9D9D9;
      }
      
      input[type="checkbox"]:disabled + label:hover{
        background-color: #E6E6E6;
      }
    
      input[type="checkbox"]:checked + label{
        background-color: #365AFC;
        color: white;
      }
}

.text-bg{
    display: flex;
    justify-content: center;
    
    input[type="checkbox"]{
        display: none;
      }
    
      input[type="checkbox"] + label{
        width: 7vmin;
        height: 7vmin;
        background-color: #E6E6E6;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
      }
      
      input[type="checkbox"] + label:hover{
          background-color: #D9D9D9;
      }
      
      input[type="checkbox"]:disabled + label:hover{
        background-color: #E6E6E6;
      }
    
      input[type="checkbox"]:checked + label{
        background-color: #365AFC;
        color: white;
      }
}

.color-picker{
    display: flex;
    justify-content: center;
    align-items: center;
}

#select {
    width: fit-content;
    border: 1px solid #b8b8b8;
    overflow: hidden;
    font-size: 18px;
    color: #666666;
    padding: 10px 0 10px 18px;
    width: 155px;
}

.select-ul {
    list-style-type: none;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 18px;
    color: #666666;
    border: 1px solid #b8b8b8;
    display: none;
    position: absolute;
    background: #FFFFFF;
    border-top: none;
}

.select-ul li {
    padding: 10px 0 10px 18px;
    width: 155px;
}