.sub {


    .sub-tools-menu {

        margin : 3%;
        text-align: center;

        button{
            background-color: #E6E6E6;
            border: 1px solid #D4D4D4;
            border-radius: 5px;
            width: 160px;
            height: 30px;
            font-weight: bold;
            margin : 1%;
        }
    
        button:hover{
            background-color: #D9D9D9;
        }
    }
}