.sub {


    .sub-tools-menu {

        margin : 3%;
        text-align: center;

        button{
            background-color: #688eff;
            border-radius: 5px;
            width: 160px;
            height: 30px;
            font-weight: bold;
            margin : 1%;
        }
    
        button:hover{
            background-color: #84a3ff;
        }
    }
}