body {
  height: 100%;
}

.Draw {
  /* background-color: black; */
  /* width: 100%;
  height: 1500px; */
}

img {
  margin-top: 10px;
  margin-left: 20%;
  margin-right: 20%;
  width: 60%;
  height: 100%;
}