.App {
  height: 100%;
  padding: 50px;
}

#editor {
  float : left;
  margin-top : 10%;
}

#tool {
  float : right;
  width : 50%
}

button, a {
  display: inline-block;
  padding: .5em .75em;
  color: white;
  font-size: inherit;
  line-height: normal;
  vertical-align: middle;
  background-color:gray;
  cursor: pointer;
  border: 1px solid #ebebeb;
  border-bottom-color: #e2e2e2;
  border-radius: .25em;
  margin-right: 5px;
}

p {
  margin : 1px;
}

hr {
  margin : 7px;
}

h5 {
  margin : 3px;
}