@import url(https://fonts.googleapis.com/css?family=Open+Sans:400|Raleway:300);

@keyframes test{
	from{
	}
	to{
		transform: translateX(50px);
	}
}

@mixin absolute{
	position: absolute;
	top : 0;
	left : 0;
	bottom : 0;
	left : 0;
	margin : 0;
	padding : 0;
	width : 100%;
	height : 100%;
}

// *:before{
// 	transition : 0.5s ease-in-out;
// 	box-sizing: border-box;
// 	z-index: -1;
// }
#main-title-div{
	display: block;
}
#main-title {
	display: block;
	text-align: center;
	font-size: 50pt;
	font-family: 'Open Sans', Helvetica, arial, sans-serif;
	overflow: hidden;
	color : cyan;
	position : relative;
	transition : 0.9s ease-in-out;
	border : 1px solid cyan;
	padding : 0;
	&::before{
		content: '';
		transition : 0.5s ease-in-out;
		box-sizing: border-box;
		z-index: -1;
		@include absolute;
		background-color: mix(black, cyan, 40%);
		transform: translateX(-100%);
		
	}
	&:hover {
		color : mix(white, cyan, 75%);
		&::before{
			transition : 0.5s ease-in-out;
			box-sizing: border-box;
			z-index: -1;
			transform: translateX(0);
		}
		// animation: test 0.5s infinite;
	}
}

#select-canvas-size {
	
	// background-color: red;
}

#canvas-template {
	border : 1px solid black;
	height: 300px;
}
.canvas-list-ul{
	list-style: none;
}
.canvas-list {
	text-align: center;
	float: left;
	margin : 20px;
}

.canvas-icon:hover{
	transition : 0.5s ease-in-out;
	color: red;
}
