.canvas-list-ul {
  margin-left: 200px;
  font-size: 20px;
  padding: 0px 10px;
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  justify-content: space-around;
}

.canvas-list {
  width: 200px;
  height: 200px;
  margin: 1%;
  cursor: pointer;
  background-image: url(/image/filter.svg);
  background-position: center;
  border: 1px solid white;
  transition: border-color 0.3s;
}

.canvas-list:hover {
  border: 1px solid black;
}

.canvas-list img {
  width: 200px;
  height: 80%;
}

.description {
  text-align: center;
  width: 100%;
}