.modal {
  position: fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  background: rbga(0,0,0,0.6);
}

.loginModal {
  width: 300px;
  height: 400px;
  background-color: white;
  position: relative;
  box-sizing: border-box;
  margin: 50px auto;
  padding: 20px;
  background: #fff;
}

.close {
  float: right;
  font-size: 25px;
  cursor: pointer;
}
.modalContents {
  margin: 0 auto;
  width: 100%;
  position: relative;
  padding: 0 20px 32px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.loginId {
  margin-top: 30px;
  border-radius: 2px;
  width: 100%;
  height: 40px;
  border: 1px solid #e5e5e5;
  padding: 9px 12px;
  outline: none;
  box-sizing: border-box;
}
input::placeholder {
  color: #999999;
}
.loginPw {
  margin-top: 15px;
  border-radius: 2px;
  width: 100%;
  height: 40px;
  border: 1px solid #e5e5e5;
  padding: 9px 12px;
  outline: none;
  box-sizing: border-box;
}

.loginBtn {
  height: 40px;
  font-size: 14px;
  padding: 13px 30px;
  cursor: pointer;
  background-color: black;
  color: white;
  line-height: 1px;
  margin-top: 20px;
  margin-bottom: 12px;
  border-radius: 3px;
  border-style: none;
}
.loginEnd {
  text-align: center;
  font-size: 11px;
}
.loginLine {
  color: #bcbcbc;
  font-size: 11px;
  margin-bottom: 35px;
  a {
    color: black;
    text-decoration: underline;
    cursor: pointer;
  }
}
.registerLink b {
  cursor: pointer;
}