.helper-div{
    background-color: #222b36;

    overflow-y: auto;
    overflow-x : hidden;
    height : 100vh;
    .top-div{
        text-align: center;
        font-size: 2em;
        color : white;
        padding : 10px;
    }

    
    .container {
        display: flex;
        flex-direction: row;
        background-color: white;
        min-height : 80%;
        
        .side-nav {
            width : 300px;
            height : 100%;
            background-color: #374357;
            color : white;
            margin : 1%;
            padding : 20px;

            .return-home {
                background-color: #688eff;
                width: 100%;
                padding : 0px 100px 0px 100px;
                font-size: 2em;
                color : black;
                border-radius: 5px;
                transition: all 0.1s linear;
            }
            
            .return-home:hover {
                background-color: #84a3ff;
            }

            .subject {
                margin-bottom: 20px;
                .topic {
                    font-size: 20px;
                    font-weight: 700;
                }

                .sub-topic {
                    margin : 5px 0px 5px 0px;
                }
            }

        }       
        .main{
            border : 1px solid #171c24;
            width : 100%;
            height: auto;
            padding : 80px;
            margin : 1%;
        }
    }
    footer {
        text-align: center;
        background-color: #222b36;
        color : white;


        ul {
            list-style-type: none;
            // float : left ;
        }

        li {
            display: inline-block;
            text-decoration: underline;
            margin : 2em;
            font-size: 1em;
        }

        p {
            font-size : 4em;
            margin-bottom : 50px;
            
        }
    }
}