.helper-div{
    .top-div{
        text-align: center;

    }

    
    .container {
        display: flex;
        flex-direction: row;
        
        .side-nav {
            width : 300px;
            height : 100%;
            background-color: red;
        }       
        .main{
            background-color: green;
        }
    }
    footer {
        text-align: center;

        ul {
            list-style-type: none;
            // float : left ;
        }

        li {
            display: inline-block;
            text-decoration: underline;
            margin : 2em;
            font-size: 1em;
        }

        p {
            font-size : 4em;
            margin-bottom : 50px;
            
        }
    }
}