$title-container-padding: 5px;
$label-padding: $title-container-padding !default;
.newimage-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    .image-modal {
        width: 52vw;
        height: 33vh;

        min-height: 400px;
        min-width: 300px;
        max-width: 700px;
        // max-height: 200px;

        background-color: #EEEEEE;
        border: 1px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;

        input[type="range"] {
            height: 30px;
            -webkit-appearance: none;
            margin: 10px 0;
            width: 100%;
            background-color: #EEEEEE;
        }

        .top-div {
            padding: 3%;
            display: flex;
            border-bottom: 1px solid #bdbdbd;
            align-items: center;

            .headline {
                font-size: 30px;
            }

            .close {
                margin-left: auto;
                color: #bdbdbd;
                transition: color 0.5s;
                width: 40px;
                height: 30px;
                display: inline;
                font-size: 17px;
            }

            .close:hover {
                color: black;
            }
        }

        .preview {
            display: flex;
            flex-direction: column;
            margin-left : auto;
            margin-right : auto;
            margin-top : 10px;
            height : 28vh;
            max-height: 350px;
            .preview-box {
                // background-color: red;

                margin : auto;
                border-radius: 10px;
                padding : 12px;
                // position: relative;
                flex-grow : 1;
                min-width: 100px;
                max-width: 200px;
                
                min-height : 130px;
                max-height : 200px;

                background-color: #d3d3d3;
                border-radius: 10px;
            
                #preview {
                    object-fit: contain;
                    width: 100%;
                    height: 100%;
                    outline: solid 0px #021c1e;
                    transition: outline 0.1s linear;
                }

                #preview:hover {
                    outline-width: 5px;
                    cursor: pointer;
                }
            }

            .preview-middle {
                text-align: center;
                margin : 10px;
                // font-size : 15px;

                .user_name{
                    font-weight: 700;
                    text-decoration: underline;
                    // background-color: red;
                }
                .unsplash_link{
                    font-weight: 700;
                    text-decoration: underline;
                }
            }

            .preview-bottom{
                text-align: center;

            }
        }

        //for mini-image
        #mini-image-list {
            display: flex;
            flex-direction: row;
            align-self: center;

            .mini-image-list-box {
                padding : 5px;
                .image-list-img {
                    object-fit: contain;
                    width: 100%;
                    height: auto;
                    outline: solid 0px #021c1e;
                    transition: outline 0.1s linear;
                }
                .image-list-img:hover {
                    outline-width: 5px;
                    cursor: pointer;
                }

                .image-list-text {
                    display: none;
                }
            }
        }

    }

    
}