@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');


* {
  margin: 0;
  padding: 0;
  font-family: 'Nanum Gothic', sans-serif;
}

*:focus{
  outline: none;
}

html{
  overflow: hidden;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

input{
  border:none;
  border-right:0px; 
  border-top:0px; 
  boder-left:0px; 
  boder-bottom:0px;
}

textarea:focus, input:focus, select:focus{
  outline: none;
}

.App{
  display: flex;
  width: 100vw;
  height: 100vh;
}

nav {
  display: flex;
  height: 100vh;
}

ul {
  list-style-type: none;
}

.full{
  display: flex;
}

.menu {
  background-color: #D4D4D4;
  width: 70px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.1rem;
}


.menu li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.menu button{
  width: 100%;
  height: 100%;
}

.menu li:hover {
  background-color: #C9C9C9;
}

.sub {
  width: 280px;
  height: 100%;
  background-color:#EEEEEE;
  color: black;

  ::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #EEEEEE;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #cccccc;
    border-radius: 8px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #a6a6a6; 
  }
}

.sub-title{
  height: 2vh;
}

.sub .sub-title {
  text-align: center;
  border-bottom: solid 1px darkgrey;
  padding: 1.2em;
  font-size: 1.1em;
}

.editor {
  display: flex;
  width: calc(100vw - 350px);
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}


::-webkit-scrollbar-thumb {
  background: #cccccc;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a6a6a6; 
}

.closed-editor {
  width: calc(100vw - 70px);

  .editor-nav {
    width: calc(100vw - 70px);
  }
}

.editor-nav {
  width: calc(100vw - 350px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5%;
}

.nav-bar-button,
.nav-bar-button:hover,
.nav-bar-button:active {
  text-decoration: none;
  color: inherit;
  margin : 0;
  border : 0;
  background-color: rgba(0, 0,0, 0);
}

.nav-bar-button-active {
  background-color: #EEEEEE;
  color: #365AFC;
  font-weight: bold;
}

.do button,
.save button {
  background: none;
  color: #a0a0a0;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  outline: inherit;
  font-size: 1.1em;
  margin: 10px;
}

.do button:hover,
.save button:hover {
  background-color: #ECECEC;
}

.more button {
  background: none;
  background-color: #365AFC;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  outline: inherit;
  font-size: 1.1em;
  margin: 10px;
}

.more button:hover {
  background-color: #4667FC;
}

.real {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 95%;
  overflow-x: auto;
  overflow-y: auto;
}

.popup{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 300px;
  height: 400px;
  z-index: 99999;
  background-color: white;
  border: 1px #d8d8d8 solid;
  
  .popup-tab{
    display: flex;
    height: 10%;

    .history-tab{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      text-align: center;
      border-right: 1px #d8d8d8 solid;
      border-bottom: 1px #d8d8d8 solid;
    }

    .history-tab-border{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      text-align: center;
      border-right: 1px #d8d8d8 solid;
    }

    .layer-tab{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      text-align: center;
      border-right: 1px #d8d8d8 solid;
      border-bottom: 1px #d8d8d8 solid;
    }

    .layer-tab-border{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      text-align: center;
      border-right: 1px #d8d8d8 solid;
    }

    .info-tab{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      text-align: center;
      border-right: 1px #d8d8d8 solid;
      border-bottom: 1px #d8d8d8 solid;
    }

    .info-tab-border{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      text-align: center;
      border-right: 1px #d8d8d8 solid;
    }
  }

  .popup-content{
    width: 100%;
    height: 90%;
    overflow-x: hidden;
    overflow-y: auto;
  }
}

.canvas-footer{
  width: 100%;
  display: flex;
  height: 150px;
  margin-top: auto;

  .canvas-info{
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 1px;
    border-radius: 10px;
    background-color: #E6E6E6;
    padding: 1%;
    margin: 1%;
  }
  
  .history-layers{
    display: flex;
    justify-content: space-around;
    width: 90%;

    .history-box{
      width: 50%;
      display: flex;
      border: 1px;
      border-radius: 10px;
      background-color: #E6E6E6;
      padding: 1%;
      margin: 1% 1% 1% 0%;

      .history-title{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 15%;
        font-size: 1.1em;
        font-weight: bold;
      }
    }

    .layers-box{
      width: 50%;
      display: flex;
      border: 1px;
      border-radius: 10px;
      background-color: #E6E6E6;
      padding: 1%;
      margin: 1% 1% 1% 0%;

      .layers-title{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 15%;
        font-size: 1.1em;
        font-weight: bold;
      }

      .layers-detail{
        overflow-y: auto;
        margin: 1% 1% 1% 5%;
        width: 100%;
      }
    }
  }
}


.photo {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 80%;
  height: 50%;
}

/* input range css */

input[type=range] {
  height: 30px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
  background-color: #EEEEEE;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  animate: 0.2s;
  background: #365AFC;
  border-radius: 10px;
  border: 1px solid #365AFC;
}

input[type=range]:disabled::-webkit-slider-runnable-track {
  background-color: #C9C9C9;
  border: 1px solid #C9C9C9;
}

input[type=range]::-webkit-slider-thumb {
  border: 3px solid #365AFC;
  height: 25px;
  width: 25px;
  border-radius: 25px;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -13px;
}

input[type=range]:disabled::-webkit-slider-thumb {
  border: 3px solid #808080;
  background-color: #C9C9C9;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #365AFC;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  animate: 0.2s;
  background: #365AFC;
  border-radius: 10px;
  border: 1px solid #365AFC;
}

input[type=range]::-moz-range-thumb {
  border: 3px solid #365AFC;
  height: 25px;
  width: 25px;
  border-radius: 25px;
  background: #FFFFFF;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #365AFC;
  border: 1px solid #365AFC;
  border-radius: 20px;
}

input[type=range]::-ms-fill-upper {
  background: #365AFC;
  border: 1px solid #365AFC;
  border-radius: 20px;
}

input[type=range]::-ms-thumb {
  margin-top: 1px;
  border: 3px solid #365AFC;
  height: 25px;
  width: 25px;
  border-radius: 25px;
  background: #FFFFFF;
  cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
  background: #365AFC;
}

input[type=range]:focus::-ms-fill-upper {
  background: #365AFC;
}