button,
input[type="submit"],
input[type="number"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.more-image-main {
  width: 100%;
  height: 100%;
  overflow-y: scroll;

  .topscroll-button {
    position: fixed;
    right : 0;
    bottom : 0;
    background-color: #a0a0a0;
    border-radius: 9px;
    color : white;
    font-weight: 1000;
    font-size : 30px;
    padding : 10px;
    margin : 30px;
    z-index: 1;
  }

  .submit-search-div{
    color : white;
    margin: 0% 3%;
    padding: 0.5% 3% 0% 3%;
    border-radius: 5px;
    width: 500px;
    height: auto;
    background-color: #171c24;
    color: white;
    font-size: 1.5em;
    font-weight: 800;
  }

  .more-image-search {
    flex-direction: row;
    display: flex;

    .option-title {
      font-size: 1.5em;
      font-weight: bold;
      margin-bottom: 1%;
    }

    .random-input-group {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .random-image {
      margin: 3%;
      padding: 0.5% 3% 3% 3%;
      border-radius: 10px;
      width: 500px;
      height: 100px;
      background-color: #eeeeee;

      .random-image-input {
        border: 2px solid #a0a0a0;
        border-radius: 3px;
        transition: 0.3s;
        width: 150px;
        height: 20px;
      }

      .random-image-input:hover {
        border: 2px solid #0b0b0b;
      }

      .random-image-input:focus {
        border: 2px solid #1a58d3;
      }

      .random-image-button {
        min-width: 40px;
        width: 7vw;
        max-width: 80px;
        min-height: 40px;
        height: 7vh;
        max-height: 80px;
        border-radius: 5px;
        background-color: #688eff;
        color: white;
        cursor: pointer;
        transition: background-color 0.1s linear;
      }

      .random-image-button:hover {
        background-color: #4667fc;
      }
    }

    .option-title {
      transition: color 0.4s linear;
      margin-left : 0px;
    }

    .random-image:hover {
      .option-title {
        color: #1a58d3;
      }
    }

    .search-image {
      margin: 1% 3% 1% 3%;
      padding: 0.5% 3% 3% 3%;
      border-radius: 5px;
      width: 500px;
      height: 100px;
      background-color: #171c24;
      color : white;

      .search-form {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size : 17px;

        .search-group {
          margin-bottom: 1%;
          // justify-content: center;
          // text-align: right;
          // align-items: center;
          // justify-content: center;
          flex-direction: row;
          display: flex;
          // background-color: blue;

          .random-image-searchtext {
            width: 100px;
            padding: 0px 10px 0px 0px;
            margin: 5px 0px 5px 0px;
            text-align: right;
            float: left;
            // background-color: red;
          }
        }

        .search-input {
          float: right;
          border: 2px solid #a0a0a0;
          background-color: #171c24;
          color : white;
          border-radius: 3px;
          transition: 0.3s;
          width: 10vw;
          height: 20px;
          margin: 5px 0px 5px 0px;
          padding: 0px 10px 0px 0px;
          font-size : 17px;
        }

        .search-input:hover {
          border: 2px solid #688eff;
        }

        .search-input:focus {
          border: 2px solid #1a58d3;
        }

        .search-image-button {
          min-width: 40px;
          width: 7vw;
          max-width: 80px;
          min-height: 40px;
          height: 7vh;
          max-height: 80px;
          border-radius: 5px;
          background-color: #688eff;
          color: white;
          cursor: pointer;
          transition: background-color 0.1s linear;
        }

        .search-image-button:hover {
          background-color: #4667fc;
        }
      }
    }

    .image-result {
      margin-top: 5%;
    }
  }

  #image-list {
    margin: 0% 3% 0.1% 3%;
    padding: 1%;
    border-radius: 5px;
    background-color: #171c24;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    vertical-align: bottom;
    position: relative;
    width: 90%;

    .not-found {
      color: white;
      font-size: 2em;
    }

    .image-list-box {
      margin: 1px;
      padding: 10px;
      position: relative;
      flex-grow: 1;
      min-width: 120px;
      max-width: 195px;

      .image-list-img {
        object-fit: contain;
        width: 100%;
        height: 100%;

        background: repeating-linear-gradient(
          45deg,
          rgba(0, 0, 0, 0.2),
          rgba(0, 0, 0, 0.2) 5px,
          rgba(0, 0, 0, 0.3) 5px,
          rgba(0, 0, 0, 0.3) 10px
        );

        max-height: 200px;
        outline: solid 0px #021c1e;
        transition: outline 0.1s linear;
      }
      .image-list-img:hover {
        cursor: pointer;
        background-color: #aaaaaa;
      }

      .image-list-img:hover + .image-list-img-p {
        display: flex;
        // visibility: collapse;
        color: white;
      }

      .image-list-img-p {
        position: absolute;
        background-color: #595959d0;
        padding: 2px 7px 2px 2px;
        color: white;
        display: none;
        top: 10px;
        pointer-events: none;
        font-size: 13px;
        // visibility: hidden;
      }
    }  
  }

  #image-list-size {
    margin: 3%;
    padding: 2%;
    border-radius: 5px;
    background-color: #171c24;
    color : white;


    ul {
      display: flex;
      justify-content: space-around;

      li {
        height: 100%;
        img:hover + div {
          color: #1a58d3;
        }

        .image-list-img {
          object-fit: contain;
          max-width: 100%;
          max-height: 100%;
          margin : 1%;
          transition: outline 0.1s linear;
        }
        .image-list-img:hover {
          opacity: 0.8;
          cursor: pointer;
        }

        div {
          text-align: center;
          font-weight: bold;
          height: 100%;

        }
      }
    }
  }
}
