* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

*:focus{
  outline: none;
}

html{
  overflow: hidden;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

textarea:focus, input:focus, select:focus{
  outline: none;
}

input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button { 
  -webkit-appearance: none; -moz-appearance: none; appearance: none;
}

nav {
  display: flex;
  width: 6vmin;
}

ul {
  list-style-type: none;
}

.full{
  display: flex;
}

.menu {
  background-color: #D4D4D4;
  width: 6vmin;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.1rem;
}


.menu li {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 6vmin;
  height: 6vmin;
}

.menu button{
  width: 100%;
  height: 100%;
}

.menu li:hover {
  background-color: #C9C9C9;
}

.sub {
  width: 25vmin;
  height: 100vh;
  background-color:#EEEEEE;
  color: black;
  position: absolute;
  top: 0;  
  left: 6vmin;
}

.sub .sub-title {
  text-align: center;
  border-bottom: solid 1px darkgrey;
  padding: 1.2em;
  font-size: 1.1em;
}

.editor {
  width: calc(100% - 31vmin);
  height: 100vh;
  position: absolute;
  top: 0;
  left: 31vmin;
}

.editor-nav {
  display: flex;
  justify-content: space-between;
}

.nav-bar-button,
.nav-bar-button:hover,
.nav-bar-button:focus,
.nav-bar-button:active {
  text-decoration: none;
  color: inherit;
  margin : 0;
  border : 0;
  background-color: rgba(0, 0,0, 0);
}

.do button,
.save button {
  background: none;
  color: #a0a0a0;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  outline: inherit;
  font-size: 1.1em;
  margin: 10px;
}

.do button:hover,
.save button:hover {
  background-color: #ECECEC;
}

.more button {
  background: none;
  background-color: #365AFC;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  outline: inherit;
  font-size: 1.1em;
  margin: 10px;
}

.more button:hover {
  background-color: #4667FC;
}

.real {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
  overflow-x: scroll;
  overflow-y: scroll;
}

.photo {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 80%;
  height: 50%;
}

/* text submenu design */

.sub-textmenu{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}

.add-text{
  background: #E6E6E6;
  color: rgba(0, 0, 0, 0.9);
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  width: 15vmin;
  min-width: 32px;
  margin: 10px;
  font-size: 1.1em;
}

.add-text:hover{
  background-color: #D9D9D9;
}

.font-style{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5%;
}

.text, .text-font{
  background-color: #EEEEEE;
  border: none;
  border-bottom: 1px solid #D9D9D9;
}

.text:hover, .text-font:hover{
  border-bottom: 1px solid black;
  transition: .5s;
}

.size-align{
  display: flex;
  width: 100%;
  padding: 5%;
  justify-content: space-between;
}

.font-size input{
  background-color: #EEEEEE;
  border-bottom: 1px solid #D9D9D9;
  width: 7vmin;
  height: 3vmin;
}

.font-size input:hover{
  border-bottom: 1px solid black;
  transition: .5s;
}

.font-size input:focus{
  border-bottom: 1px solid black !important;
}

.align-button{
  display: flex;
}

#center-align{
  background-image: url(./img/align-center.svg);
  background-repeat: no-repeat;
  width: 4vmin;
  height: 4vmin;
}

#left-align{
  background-image: url(./img/align-left.svg);
  background-repeat: no-repeat;
  width: 4vmin;
  height: 4vmin;
}

#right-align{
  background-image: url(./img/align-right.svg);
  background-repeat: no-repeat;
  width: 4vmin;
  height: 4vmin;
}

.align{
  border-radius: 5px;
}

.align:hover{
  background-color: #DFDFDF;
}

.font-weight{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5%;
}

.weight{
  margin-right: 5%;
}

.weight-button{
  display: flex;
  justify-content: space-around;
}

.bold, .italic{
  display: flex;
}

/* icon submenu design */

.sub-iconmenu{
  display: flex;
  flex-direction: column;

  .option-title{
    font-weight: bold;
    font-size: 1.1em;
    margin: 1%;
  }

  .icon{
    width: 100%;
    margin-top: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .icon button{
    width: 7vmin;
    height: 7vmin;
  }
  
  .icon button:hover{
    background-color: #DFDFDF;
  }

  .color-picker{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* rotate css */

.sub-rotatemenu{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rotate-degree{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5%;
}

.degree-button{
  display: flex;
  justify-content: space-around;
}

.rotate-degree button{
  width: 5vmin;
  height: 5vmin;
  border-radius: 5px;
}

.rotate-degree button:hover{
  background-color: #DFDFDF;
}

.rotate-clock{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5%;
}

.clock-button{
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 5%;
}

.clock-button div{
  width: 7vmin;
  height: 7vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.clock-button div:hover{
  background-color: #DFDFDF;
}

#clockwise{
  background-image: url(./img/rotate-right.svg);
  background-repeat: no-repeat;
  width: 5vmin;
  height: 5vmin;
  background-size: contain;
}

#c-clockwise{
  background-image: url(./img/rotate-left.svg);
  background-repeat: no-repeat;
  width: 5vmin;
  height: 5vmin;
  background-size: contain;
}

.rotate-input{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5%;
}

.rotate-input input{
  background-color: #EEEEEE;
  border-bottom: 1px solid #D9D9D9;
  width: 7vmin;
  height: 3vmin;
}

.rotate-input input:hover{
  border-bottom: 1px solid black;
  transition: .5s;
}

.rotate-input input:focus{
  border-bottom: 1px solid black !important;
}

/* Draw css */

.sub-filters{

  .option-title{
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 3%;
  }

  .select-brush{
    margin: 3%;
    display: flex;
    flex-direction: column;
  }

  .select-width{
    margin: 3%;
  }

  .color-picker{
    margin: 3%;


  }
}