
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);

    .loadingModal {
        width: 480px;
        height: 621px;
        background-color: #363636;
        color : white;
        position: relative;
        box-sizing: border-box;
        margin: 50px auto;
    } 
}

