.project-main {
  overflow-y: auto;
}

.project-button-box {
  display: flex;
  margin: 2%;
  align-items: center;

  .sort-button-box {
    display: flex;
  }

  button {
    margin-left: auto;
  }
}

.project-search {
  margin: 2%;
  padding: 2%;
  border-radius: 10px;
  background-color: #eeeeee;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.proejct-sort-button {
  padding: 0px 10px 0px 10px;
  border-right: 1px solid black;
  width: 100px;
  height: 20px;
}

.proejct-sort-button:nth-child(4) {
  border-right: none;
}

#project-list {
  // position: relative;
  margin: 2%;
  padding: 2%;
  border-radius: 10px;
  background-color: #eeeeee;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;

  .project-div {
    display: inline-flex;
    margin: 5px;
    flex-direction: column;
    vertical-align: bottom;
    justify-content: center;
    background-color: #d3d3d3;
    border-radius: 10px;
    padding: 12px;

    .project-img {
      justify-content: center;
      position: relative;

      .project-thumb {
        margin: auto;
      }
    }

    .project-title {
      color: black;
      justify-self: end;
      display: block;
      text-align: center;
    }
  }
}
