.project-main {
  overflow-x: hidden;
  overflow-y: auto;
}

.project-header {
  width: 100%;
  height: 50px;
  font-size: 1.5em;
  margin: 2%;
  background-color: #171c24;
  border-radius : 5px;
  color: white;
  font-weight: bold;
  text-align: left;
  padding : 15px 20px 0px 20px;
  // display: flex;
}

.project-button-box {
  display: flex;
  margin: 2%;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: #171c24;
  color : white;
  border-radius: 5px;

  .sort-button-box {
    display: flex;

    .proejct-sort-button {
      padding: 0px 10px 0px 10px;
      border-right: 1px solid black;
      width: 150px;
      height: 20px;
    }

    .proejct-sort-button:nth-child(3) {
      width: 100px;
    }

    .proejct-sort-button:nth-child(4) {
      border-right: none;
      width: 100px;
    }

    .proejct-sort-button:hover {
      text-decoration: underline;
    }
  }

  #delete-all {
    border: 1px solid #ff6961;
    width: 80px;
    height: 40px;
    border-radius: 5px;
    transition-property: background-color color;
    transition: 0.2s linear;
    margin-right : 1%;
  }

  #delete-all:hover {
    background-color: #ff6961;
    color: white;
  }
}

.project-search {
  border-radius: 5px;
  background-color: #222b36;
  display: flex;
  width: 400px;
  min-width : 310px;
  // height: 100%;
  padding: 5px;
  .search-title {
    margin-left : 10px;
  }
  .search {
    margin-left: 20px;
    margin-right: 10px;
    width: 8vw;
    max-width : 160px;
    height: 20px;
  }

  input[type="submit"] {
    width: 80px;
    height: 40px;
    border-radius: 5px;
    background-color: #688eff;
    transition: 0.3s;
  }

  input[type="submit"]:hover {
    opacity: 0.8;
  }
}

#project-list {
  // position: relative;
  margin: 2%;
  padding: 2%;
  border-radius: 5px;
  background-color: #171c24;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;

  .project-div {
    display: inline-flex;
    margin: 5px;
    flex-direction: column;
    vertical-align: bottom;
    justify-content: center;
    background: repeating-linear-gradient(
          45deg,
          rgba(0, 0, 0, 0.2),
          rgba(0, 0, 0, 0.2) 5px,
          rgba(0, 0, 0, 0.3) 5px,
          rgba(0, 0, 0, 0.3) 10px
    );
    color : white;
    padding: 12px;
    position: relative;

    button {
      margin: 1%;
      position: absolute;
      top: 0;
      right: 0;
      background-color: black;
      border : 3px solid #ff6961;
      width: 30px;
      height: 30px;
      z-index: 9999;
      opacity: 0;
      color: white;
      border-radius: 100px;
    }

    .project-img {
      justify-content: center;
      position: relative;

      .project-thumb {
        margin: auto;
        
      }
    }

    .project-title {
      justify-self: end;
      display: block;
      text-align: center;
      position: relative;
    }
  }

  .project-div:hover {
    button {
      opacity: 1;
    }
  }
}
